.list-icon {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 24px;
}

.list-icon-about {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 24px;
    &::before {
        content: '';
        height: 2px;
        width: 75px;
        margin-right: 10px;
        background-color: var(--border-gray);
    }
}

@media screen and (max-width: 767.98px) {
    .list-icon {
        display: none;
    }
}

@media screen and (max-width: 575.98px) {
    .list-icon-about {
        font-size: 18px;
    }
}