@import './variables';

/* Reset CSS */

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
form,
label,
header,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

a {
    text-decoration: none;
}

button {
    font-family: var(--font);
}

input,
textarea {
    font-family: var(--font);
    font-size: var(--fs-2);
    border: 0;
    outline: 0;
    background-color: #161616;
    width: 100%;
    padding: 12px 16px;
    color: var(--text-white);
    position: relative;
    transition: all ease-in-out 150ms;
    border-bottom: 1px solid transparent;
}

textarea {
    resize: none;
}

input:focus, textarea:focus {
    border-bottom-color: var(--border-green);
}

::placeholder {
    color: var(--text-gray);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-gray);
    border-radius: var(--radius-pill);
}

::selection {
    background: var(--bg-green);
    color: var(--text-white);
}

::-moz-selection {
    background: var(--bg-green);
    color: var(--text-white);
}

::-webkit-selection {
    background: var(--bg-green);
    color: var(--text-white);
}

body {
    width: 100%;
    height: auto;
    font-family: var(--font);
    background-color: var(--bg-black-primary);
    color: var(--text-white);
    font-size: var(--fs-2);
    line-height: 1.5;
    overflow-x: hidden;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.button {
    display: inline-block;
    border: 0;
    outline: none;
    color: var(--text-white);
    padding: 10px 35px;
    background-color: var(--bg-green);
    border-radius: var(--radius-pill);
    cursor: pointer;
}

h6.title {
    font-size: var(--fs-h6);
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: capitalize;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}